.welcome-banner {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%); 
  background: #3498db;
  color: #fff;
  padding: 20px; 
  text-align: center;
  border-top: 5px solid #11639a; 
}

.welcome-banner button {
  background: #fff;
  color: #3498db; 
  border: none;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}
